<div style="color:#00788F" class="modal fade" id="ReporteActividadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 80%; left: 0 !important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cerrarModalActividad()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Reporte de Avance <i class="fa fa-pencil" aria-hidden="true"></i></h4>
            </div>
            <div class="modal-body">
                <div ng-hide="OnServer">
                    <form class="form-horizontal ng-valid ng-valid-time ng-valid-maxlength ng-valid-max-tags ng-valid-min-tags ng-valid-leftover-text ng-dirty ng-valid-parse">
                    @* proyecto *@
                   <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="control-label col-sm-1" title="Proyecto"><strong>P</strong></div>
                                <div class="col-sm-11">
                                    <input class="form-control input-sm ng-pristine ng-untouched ng-valid" 
                                        ng-model="Act.Proyecto" ng-disabled="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="control-label col-sm-6"><strong>Tiempo Autorizado</strong></div>
                                <div class="col-sm-6">
                                    <input class="form-control txt-right input-sm ng-pristine ng-untouched ng-valid" 
                                        ng-model="Act.Tiempoautorizado" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    @* modulo *@
                   <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="control-label col-sm-1" title="Modulo"><strong>M</strong></div>
                                <div class="col-sm-11">
                                    <input class="form-control input-sm ng-pristine ng-untouched ng-valid" 
                                        ng-model="Act.Modulo" ng-disabled="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="control-label col-sm-6"><strong>Tiempo Invertido</strong></div>
                                <div class="col-sm-6">
                                    <input class="form-control txt-right input-sm ng-pristine ng-untouched ng-valid" 
                                        ng-model="Act.TrabajoRealizado" ng-disabled="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    @* componente *@
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="control-label col-sm-1" title="Componente"><strong>C</strong></div>
                                <div class="col-sm-11">
                                    <input class="form-control input-sm ng-pristine ng-untouched ng-valid" 
                                        ng-model="Act.Componente" ng-disabled="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="control-label col-sm-6"><strong>Tiempo Restante</strong></div>
                                <div class="col-sm-6">
                                    <input class="form-control txt-right input-sm ng-pristine ng-untouched ng-valid" 
                                        ng-model="Act.TrabajoRestante" ng-disabled="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    @* actividad *@
                   <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="control-label col-sm-1" title="Actividad"><strong>A</strong></div>
                                <div class="col-sm-11">
                                    <input class="form-control input-sm ng-pristine ng-untouched ng-valid" 
                                        ng-model="Act.Actividad" ng-disabled="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="control-label col-sm-6"><strong>Eficiencia</strong></div>
                                <div class="col-sm-6">
                                    <input class="form-control txt-right input-sm ng-pristine ng-untouched ng-valid" 
                                         ng-disabled="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    @*  *@
                    <div class="row">
                        <div class="col-sm-8"></div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="control-label col-sm-6"><strong>Fecha Clave</strong></div>
                                <div class="col-sm-6">
                                    <input class="form-control txt-right input-sm ng-pristine ng-untouched ng-valid" 
                                         ng-disabled="true" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    @*  *@
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <div class="control-label col-sm-3">
                              <strong>Fecha de Registro</strong>
                          </div>
                          <div class="col-sm-4">
                            <input class="datepickerFin form-control ng-pristine ng-valid ng-touched"
                                ng-model="FILTROACTIVIDADES.dFechaFin"/>
                          </div>
                          <div class="col-md-5">
                          <div class="checkbox">
                            <label class="">
                                <input type="checkbox" ng-disabled="true" ng-model="Act.RequiereQC" class="ng-pristine ng-untouched ng-valid" disabled="disabled"> Control de Calidad
                            </label>
                          </div>
                         </div>
                       </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Actividad Realizada</label>
                                <textarea class="form-control ng-pristine ng-valid ng-touched" style="resize:vertical;" rows="6"></textarea>
                                <label class="ng-binding">1000 caracteres restantes.</label>
                            </div>
                        </div>
                     <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Tiempo Invertido</label>
                                    <table @*ng-model="ACtrl.PRTNuevo.nTrabajoRealizadoHoras"*@ hour-step="1" minute-step="5" show-meridian="0" disabled="disabled" class="ng-isolate-scope ng-valid ng-valid-time">
                                    <tbody>
                                        <tr class="text-center">
                                            <td><a ng-click="IncrementaHoras()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                                            <td>&nbsp;</td>
                                            <td><a ng-click="IncrementaMinutos()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                                            <td ng-show="showMeridian" class="ng-hide"></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50px;" class="form-group" @*ng-class="{'has-error': invalidHours}"*@>
                                                <input type="text" ng-model="Horas" @*ng-change="updateHours()"*@ class="form-control text-center ng-pristine ng-untouched ng-valid ng-valid-maxlength"@* ng-mousewheel="incrementHours()"*@ ng-readonly="readonlyInput" maxlength="2">
                                            </td>
                                            <td>:</td>
                                            <td style="width:50px;" class="form-group" @*ng-class="{'has-error': invalidMinutes}"*@>
                                                <input type="text" ng-model="Minutos" @*ng-change="updateMinutes()"*@ class="form-control text-center ng-pristine ng-untouched ng-valid ng-valid-maxlength" ng-readonly="readonlyInput" maxlength="2">
                                            </td>
                                            <td ng-show="showMeridian" class="ng-hide"><button type="button" class="btn btn-default text-center ng-binding" ng-click="toggleMeridian()">a.m.</button></td>
                                        </tr>
                                        <tr class="text-center">
                                            <td><a ng-click="DecrementaHoras()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                                            <td>&nbsp;</td>
                                            <td><a ng-click="DecrementaMinutos()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                                            <td ng-show="showMeridian" class="ng-hide"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Tiempo Restante</label>
                                    <table  hour-step="1" minute-step="5" show-meridian="0" class="ng-isolate-scope ng-valid ng-valid-time">
                                    <tbody>
                                        <tr class="text-center">
                                            <td><a ng-click="IncrementaHorasRes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                                            <td>&nbsp;</td>
                                            <td><a ng-click="IncrementaMinutosRes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
                                            <td ng-show="showMeridian" class="ng-hide"></td>
                                        </tr>
                                        <tr>
                                            <td style="width:50px;" class="form-group" >
                                                <input type="text" ng-model="HorasRes" class="form-control text-center ng-pristine ng-untouched ng-valid ng-valid-maxlength"  ng-readonly="readonlyInput" maxlength="2">
                                            </td>
                                            <td>:</td>
                                            <td style="width:50px;" class="form-group" >
                                                <input type="text" ng-model="MinutosRes"  class="form-control text-center ng-pristine ng-untouched ng-valid ng-valid-maxlength" ng-readonly="readonlyInput" maxlength="2">
                                            </td>
                                            <td ng-show="showMeridian" class="ng-hide"><button type="button" class="btn btn-default text-center ng-binding" ng-click="toggleMeridian()">p.m.</button></td>
                                        </tr>
                                        <tr class="text-center">
                                            <td><a ng-click="DecrementaHorasRes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                                            <td>&nbsp;</td>
                                            <td><a ng-click="DecrementaMinutosRes()" class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
                                            <td ng-show="showMeridian" class="ng-hide"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label>Avance</label>
                                    <div class="input-group" style="margin-top:28px;">
                                        <input class="form-control txt-right ng-pristine ng-untouched ng-valid" data-ng-model="Act.Avance" placeholder="0">
                                        <div class="input-group-addon">%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      </div>
                      <div class="col-sm-6">
                       <div>
                           <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation"  class="active">
                                        <a href="#Acciones" role="tab" data-toggle="tab">Acciones</a>
                                    </li>
                           </ul> 
                            <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="Acciones">
                                <div class="row" style="margin-top:15px;">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <tags-input  placeholder="Agregar acción..." class="ng-pristine ng-valid ng-isolate-scope ng-valid-max-tags ng-valid-min-tags ng-valid-leftover-text ng-touched"><span class="input" style="visibility: hidden; width: auto; white-space: pre; display: none;">Agregar acción...</span>
                                            </tags-input>
                                            <div class="input-group-btn">
                                                <span class="btn btn-default" style="border-color: #CCCCCC"><i class="fa fa-plus-circle" style="font-size: 20px;"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                   
                       </div>
                      </div>
                    </div>
          
                    <div style="padding-top:20px" id="Diagnostico_msgerr" class="row">

                    </div>
                 </form>
                </div>
                 <div ng-show="OnServer">
                    <div layout="row" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
               </div>
             <div class="modal-footer">
                <md-button class="md-raised md-primary" style="color:white" ng-click="ValidaGuardaDiagnostico()" ng-disabled="OnServer">Guardar <i class="fa fa-floppy-o" aria-hidden="true" style="color: white;"></i></md-button>
                <md-button class="md-raised md-warn" style="color:white" data-dismiss="modal" ng-disabled="OnServer">Cancelar <i class="fa fa-times" aria-hidden="true"></i></md-button>
            </div>
            </div>
        </div>
  </div>