@model MvcLogin.Models.CargaInicial
<style>
	.barraNavegacion{
		
	}
	
</style>
<md-tolbar class="navbar navbar-inverse-SK navbar-fixed-top Adsum barraNavegacion" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand">
                        PMBOOK
             </a>
           <span style="vertical-align:bottom; font-size:smaller;color: black;">V 0.0.2</span>
        </div>



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @foreach (var i in Model.DataNav)
                {
                    <li class="dropdown">
                        <a href="@i.cURL" role="button" style="color:black !important; font-size:large" aria-haspopup="true" aria-expanded="false">@i.cArea <i class="@i.cImagen" aria-hidden="true"></i> </a>
                    </li>
                }
            </ul>

            @if (Model.DataSesion.bSesionActiva)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menú <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li><a href="/User/LogOut" style="color:black !important"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            }

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</md-tolbar>