@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <meta name="keywords" content="404 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    @Styles.Render("~/Content/error123")
    @*<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />*@
</head>
<body>
    <!--start-wrap--->
    <div class="wrap">
        <!---start-header---->
        <div class="header">
            <div class="logo">
                <h1><a href="#">Ohh</a></h1>
            </div>
        </div>
        <!---End-header---->
        <!--start-content------>
        <div class="content">
            <img src="images/error-img.png" title="error" />
            <p><span><label>O</label>hh.....</span>Algo Salio mal ( 7161787 / 7121639 ).</p>
            <a href="http://50.23.85.50:270/">Regresar</a>
            <div class="copy-right">
                <p>&#169 All rights Reserved | Designed by <a href="">Adsum</a></p>
            </div>
        </div>
        <!--End-Cotent------>
    </div>
    <!--End-wrap--->
</body>
</html>

